* {
    margin: 0;
    padding: 0;
}

/* navbar */
.box1 {
    background-color: black;
    color: aliceblue;
    padding-top: 15px;
    padding-left: 50px;
    height: 40px;

}

h3 {
    color: #5B92CA;
}

span {
    margin: 3px;
}

/* card */


img{
    height: 150px;
    width: 300px;
}

.card {
    margin-left: 18px;
    width: 260px;
    font-size: small;
    display: inline-block;
}

.main-card {
    height: 200px;
    width: 220px;
    margin: 1em 80px 2em;
    display: inline-block;

}

h3 {
    margin: 3px;
}


p {
    margin: 2px;
    font-size: small;
}

.footers {
    text-align: start;
    padding-left: 78px;
    margin: 20px 20px;
}

.heading {
    width: 100%;
    margin: 20px 20px;
    font-size: medium;
}